<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5>
    <div>
        <label (click)="headerIconClick('research')">
          <ion-icon name="md-flask"></ion-icon>
          <span *ngIf= "gameObject && gameObject.researchPoints">
              {{gameObject.researchPoints | floor}}
          </span>
        </label>
        <label>
          <ion-icon name="md-people" (click)="headerIconClick('population')"></ion-icon>
          <span *ngIf= "gameObject && gameObject.researchPoints">
              {{gameObject.population}}
          </span>
        </label>
        <label>
          <ion-icon name="md-warning" (click)="headerIconClick('pollution')"></ion-icon>
          <span *ngIf= "gameObject && gameObject.researchPoints">
              {{((gameObject.pollution * 100)/gameObject.pollutionLimit) | floor }}
          </span>
        </label>
    </div>
  </h5>
  <p *ngIf= "gameObject && gameObject.activeResearch">
    {{gameObject.activeResearch.name}}
  </p>
  <div *ngFor="let tileinfo of tileInfoArr; index as i; even as isEven; odd as isOdd">
    <tile [tileinfo] = "tileinfo" (click)="tileClicked(tileinfo)"></tile>
  </div>
</ion-content>
<info-popup [modalInfo] = "modalInfo"></info-popup>