<div *ngIf="modalList.showPopup" id="myModal" class="modal">
  <div class="modal-content card">
    <span class="close" (click)="closePopup()">
      <ion-icon name="close-circle"></ion-icon>
    </span>
    <div>
      <h6>
        {{modalList.title}}
      </h6>
    </div>
    <hr>
    <div *ngIf="modalList.list && modalList.list.length > 0;else ageChange">
      <ul class="list">
        <li  class="item" (click)="startStuff(listInfo)" *ngFor="let listInfo of modalList.list; index as i; even as isEven; odd as isOdd" class="">
          <div>
            <span class="">{{listInfo.name}}</span>
            <br>
            <span>{{listInfo.description}}</span>
          </div>
        </li>
      </ul>
    </div>
    <ng-template #ageChange>
      <div class="age-Change">
        <h1>
          Enter New Age
        </h1>        
        <div (click)="startStuff('age')" class="new-age-icon">
          <ion-icon name="globe"></ion-icon>
        </div>
      </div>
    </ng-template>
  </div>
</div>