<div *ngIf="modalList.showPopup" id="myModal" class="modal">
  <div class="modal-content card">
    <span class="close" (click)="closePopup()">
      <ion-icon name="close-circle"></ion-icon>
    </span>
    <div class="head-pop">
      <h6>
        {{modalList.title}}
      </h6>
    </div>
    <div class="overFlow-list" *ngIf="modalList.list && modalList.list.length > 0;else ageChange">
      <ul class="list">
        <li class="item" *ngFor="let listInfo of modalList.list; index as i; even as isEven; odd as isOdd"
          class="">
          <div>
            <p class="title-item" (click)="startStuff(listInfo);">
              {{listInfo.name}}
            </p>
            <p *ngIf="researchDisabledCheck(listInfo)" class="error-message">
              *you don't have enough research points.
            </p>
            <span class="list-icon" style="float: right;">
              <ion-icon *ngIf="listInfo.openDes" (click)="openDescription(false, listInfo);" name="arrow-dropup-circle"></ion-icon>
              <ion-icon *ngIf="!listInfo.openDes" (click)="openDescription(true, listInfo);" name="arrow-dropdown-circle"></ion-icon>
            </span>
          </div>
          <div *ngIf="listInfo.openDes" [@slideInOut] class="inner-list-des">
            <p>{{listInfo.description}}</p>
            <button [disabled]="researchDisabledCheck(listInfo)" (click)="startStuff(listInfo);">
              Start
            </button>
          </div>
        </li>
      </ul>
    </div>
    <ng-template #ageChange>
      <div class="age-Change">
        <h1>
          Enter New Age
        </h1>
        <div (click)="startStuff('age'); closePopup();" class="new-age-icon">
          <ion-icon name="globe"></ion-icon>
        </div>
      </div>
    </ng-template>
  </div>
</div>